* {
  box-sizing: border-box;
  animation: fadein 0.3s;
    -moz-animation: fadein 0.3s; /* Firefox */
    -webkit-animation: fadein 0.3s; /* Safari and Chrome */
    -o-animation: fadein 0.3s; /* Opera */
}


.hidden {
  display: none;
}

font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Patua One', cursive;

h1, h2, h3, h4, h5, h6, {
  font-family: 'Patua One';
}

p {
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  background: #333333;
  font-weight: 20;
  font-size: 130%;
  color: white;
  height: 100%;
  margin: 0;
}

/* nav {
  display: flex;
  justify-content: center;
  padding: 2px;
  top: 0px;
  width: 100%;
  height: 65px;
  color: white;
} */

#background {
  height: 100vh;
  background: url(media/local_camp_hdr.jpg) no-repeat center center fixed;
  /* background: url(media/mummy.jpeg) no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  /* background: linear-gradient(253deg,#ec0000,#fad961); */
  /* opacity: .8; */
  mix-blend-mode: multiply;
  height: 100%;
  width: 100%;
}

/* #overlay > div {
  max-width: 300px
} */

.splash-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.splash-container h1, .splash-container h2, .splash-container p {
  color: white;

}


.splash-container > section {
  width: 300px;
  padding: 10px;
}

:any-link {
  color: white;
}

input {
  display: block;
  margin: 10px;
  margin-left: 0px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
}

button .submit {
  display: block;
  margin: 10px;
  margin-left: 0px;
  padding: 4px;
}

button, input {
  border-radius: 5px;
  padding: 4px;
}

/* .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

#page {
  padding: 80px;
}

.js-street-input-form {
  margin-top: 20px;
}

/* .edit-section {
  position: absolute;
  margin-top: 20px;
} */

/* add background display:none
for streets section, poss all the sections, not splash which should be converted to something cancelSurveyStreetButton */
